.search-bar {
    background-color: white;           
    border-radius: 50px;               
    padding: 0 15px;                   
    font-size: 16px;                   
    width: 50px;                      
    margin-top: 5px;                   
    transition: all 0.3s ease-in-out;   
  }
  
  
  .search-bar-container {
    position: absolute;                
    left: 200px;                         
    top: 2px;                          
    display: flex;
    align-items: center;
    width: 500px;                       
  }
  


   
  

