.banner {
    background-image: url('../../assets/images/banner-1.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%; 
    display:flex; 
    align-items: left; 
    justify-content: flex-start;
    flex-direction:column;
    padding-left: 20px; 
    padding-top: 150px;
    
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem; 
    color: white; 
    
    margin-bottom: 10px; 
    
  }

  .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem; 
    line-height: 1.8; 
    color: rgb(50, 201, 24); 
    max-width: 600px; 
  }
  
  .highlight {
    color: rgb(11, 71, 43); 
    font-weight: bold; 
  }